{{#if objectLoginEmailMessageError}}

  <div class="message-error">
    <p>Senha ou email incorreto</p>
  </div>

{{/if}}

{{#if objectLoginPasswordMessageError}}

  <div class="message-error">
    <p>Senha ou email incorreto</p>
  </div>

{{/if}}